a {
    &:hover {
        opacity: 0.7;
    }
}
.arrow-link {
    display: inline-block;
    font-family: $font-secondary;
    font-size: 18px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: -11px;
        right: -10px;
        width: 34px;
        height: 34.28px;
        border: 1px solid $tacao;
    }
}

.nav-link {
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
}

.card-link {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    font-family: $font-secondary;
    display: inline-block;
    text-decoration: none;
    color: $bunker;
    border-bottom: 1.35px solid $tacao;
    letter-spacing: 0.5px;
}

.card-link--s {
    font-size: 16px;
    line-height: 16px;
    @include breakpoint (phone) {
        font-size: 12px;
        line-height: 10px;
    }
}

