.home {
    width: 100%;
    .banner {
        color: $blue;
    }
}

#test {
    color: blue;
}

.card {
    width: 100%;
    display: block;
}

.icon {
    font-size: 50px;
    color: #f43;
}

.title {
    font-size: 80px;
    line-height: 96px;
    font-weight: 400;
    color: $white;
}