.about-us {
    @extend %bg-img;
    padding: 115px 0 111px;
    position: relative;
    @include breakpoint(tablet) {
        padding: 80px 0;
    }
    @include breakpoint(phone) {
        padding: 35px 0;
        .bg-layer {
            &::after {
                background-color: $silver;
                opacity: 0.4;
            }
        }
    }
}

.about-us__row {
    @include flex(wrap,row,flex-start,flex-start);
    position: relative;
    z-index: 2;
    @include breakpoint(phone) {
        display: block;
        position: relative;
    }
}

.about-us__col {
    flex: 1 1 50%;
    max-width: 50%;
    @include breakpoint(phone) {
        flex: none;
        max-width: 100%;
        margin-bottom: 33px;
    }
}

.about-us__img-container {
    position: relative;
    @include breakpoint(phone) {
        min-height: 308px;
    }
}

.about-us__img {
    object-fit: cover;
    object-position: center;
}

.about-us__img--1 {
    position: relative;
    width: 58%;
    @include breakpoint(phone) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.about-us__img--2 {
    position: absolute;
    top: 108px;
    right: 15px;
    max-width: 340px;
    max-height: 350px;
    @include breakpoint(tablet) {
        top: 75px;
        right: 30px;
        width: 200px;
    }
    @include breakpoint(phone) {
        display: none;
    }
}

.about-us__img--3 {
    display: none;
    @include breakpoint(phone) {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
}

.about-us__title {
    color: $bunker;
    .horizontal-line {
        background-color: $bunker;
    }
}

.about-us__text-container {
    padding-left: 120px;
    color: $bunker;
    @include breakpoint(tablet) {
        padding-left: 0;
    }
    @include breakpoint(phone) {
        padding-left: 0;
    }
}

.about-us__text {
    letter-spacing: 0.5px;
    margin-bottom: 16px;
    @include breakpoint(phone) {
        margin-bottom: 20px;
    }
}

.about-us__text--hidden {
    @include breakpoint(phone) {
        display: none;
    }
}

.about-us__link {
    color: $bunker;
    letter-spacing: -2px;
    margin-top: 15px;
}

