.footer {
    background-color: $bunker;
}

.footer__top {
    @include flex(wrap,column,center,center);
    padding-bottom: 44px;
    @include breakpoint (tablet) {
        padding-bottom: 30px;
    }
    @include breakpoint (phone) {
        padding-bottom: 20px;
    }
}

.footer__logo {
    display: block;
    position: relative;
    width: 130px;
    padding-bottom: 130px;
    
    @include breakpoint (phone) {
        position: relative;
    }
}

.footer__logo-img {
    @include image(cover);
}

.footer__number {
    top: -20px;
    text-decoration: none;
    color: $polar;
    margin-bottom: 10px;
}

.footer__address {
    display: block;
    color: $polar;
}

.footer__bot {
    @include flex(wrap,column,center,unset);
    border-top: 1px solid $light-white;
    .nav {
        margin-top: 0;
    }
    .nav__item {
        padding: 0 15px;
    }
    .nav__link {
        color: $whitish;
    }
    .nav__link--active {
        border-bottom: none;
    }
}

.footer__subscribe {
    padding: 20px 0 55px;
    @include flex(nowrap,row,space-between,center);
    margin: 0 -10px;
    @include breakpoint (tablet) {
        flex-direction: column;
        margin: 0;
        padding: 10px 0 35px;
    }
    @include breakpoint (phone) {
        display: block;
        max-width: 100%;
        margin: 0;
        padding-bottom: 50px;
        .btn {
            display: block;
        }
    }
}

.footer__inp {
    color: $white;
    flex: 1 1 25%;
    max-width: 25%;
    margin: 0 10px;
    background-color: $old-lace-dark;
    &:focus,
    &:focus-visible {
        outline: $old-lace auto 1px;
    }
    @include breakpoint (tablet) {
        margin-bottom: 10px;
    }
    @include breakpoint (phone) {
        display: block;
        margin: 0;
        max-width: 100%;
    }
}

.footer__textarea {
    flex: 1 1 38%;
    max-width: 38%;
    @include breakpoint (tablet) {
        width: 25%;
    }
    @include breakpoint (phone) {
        flex: none;
        max-width: 100%;
        margin-bottom: 20px;
    }
}

.footer__btn {
    flex: 1 1 12%;
    max-width: 12%;
    margin: 0 10px;
    background-color: transparent;
    &:focus {
        opacity: 0.7;
    }
    .btn__text {
        background-color: transparent;
        padding: 16px 15px;
    }
    @include breakpoint (phone) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.footer__rights {
    @include flex(wrap,row,center,center);
    margin-bottom: 30px;
    @include breakpoint (phone) {
        flex-direction: column-reverse;
    }
}

.footer__small {
    color: $whitish;
}

.footer__link {
    display: inline-block;
    text-decoration: none;
    color: $whitish;
    padding-left: 8px;
    margin-left: 8px;
    border-left: 1px solid $whitish;
    @include breakpoint (phone) {
        margin-bottom: 10px;
    }
}

.footer__link--invisibledash {
    @include breakpoint (phone) {
        border-left: none;
        padding-left: 0;
        margin-left: 0;
    }
}
