.header {
    @extend %bg-img;
    border-top: 20px solid $bunker;
    @include flex(wrap,column,flex-start,unset);
    position: relative;
    @include breakpoint(phone) {
        @include flex(wrap,row,space-between,center);
        border: none;
    }
}

.header__logo {
    display: block;
    position: relative; 
    background-color: transparent;
    width: 131px;
    height: 89px;
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint(tablet) {
        width: 100px;
        padding-top: 20px;
    }
    @include breakpoint(phone) {
        width: 67px;
        height: 55px;
        left: 20px;
        transform: none;
    }
}

.header__logo-img {
    @include image(cover); 
}

.nav {
    margin-top: -6px;
    overflow: hidden;
    padding: 20px 0 27px;
    position: relative;
    z-index: 2;
    border-top: 1px solid $bunker-10;
    @include breakpoint(tablet) {
        margin-top: 0;
        padding: 20px 0;
    }
    @include breakpoint(phone) {
        display: none;
        position: absolute;
        z-index: 3;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0;
        background-color: $white;
        text-align: center;
        padding: 5px 0;
    }
}

.nav__list {
    @include flex(wrap,row,center,center);
    margin: 0 -35px;
    @include breakpoint(phone) {
        display: block;
    }
}

.nav__item {
    padding: 0 35px;
    @include breakpoint(phone) {
        margin: 0 0 10px;
    }
}

.nav__link {
    display: block;
    color: $bunker-50;
    @include breakpoint(phone) {
        display: inline-block;
        padding: 10px 0;
    }
}

.nav__link--active {
    color: $bunker;
    border-bottom: 1px solid $tacao;
}

.toggle {
    display: none;
    @include breakpoint(phone) {
        display: block;
        width: 18px;
        height: 12px;
        border: none;
        background-color: transparent;
        padding: 0;
    }
}

.toggle__line {
    display: block;
    width: 13px;
    height: 2px;
    background-color: $mine-shaft;
    position: absolute;
    top: 50%;
    right: 20px;
    &::before,
    &::after {
        content: '';
        display: block;
        width: 18px;
        height: 2px;
        background-color: $mine-shaft;
        position: absolute;
        right: 0;
    }
    &::before {
        top: 6px;
    }
    &::after {
        top: -6px;
    }
}