.products {
    position: relative;
    margin-bottom: 200px;
}

.products__row {
    display: flex;
    flex-wrap: wrap;
}

.products__col {
    flex: 1 1 33.33%;
    max-width: 33.33%;
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
}

.products__content {
    padding: 20px;
    background-color: $tacao;
}

.products__title {
    font-size: 30px;
    line-height: 34px;
    color: $charcoal;
    text-align: center;
    display: block;
}

.products__img-wrap {
    position: relative;
    padding-bottom: 100%;
    // padding-bottom: 153.31%;
}

.products__img {
    // @extend %bg-img;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}