.testimonials {
    @extend %bg-img;
    padding: 103px 0 133px;
    position: relative;
    @include breakpoint (phone) {
        padding: 30px 0;
        .overlay {
            &::after {
                background-color: $silver;
                opacity: 0.4;
            }
        }
    }
}

.testimonials__title {
    color: $bunker;
    margin-left: 335px;
    .horizontal-line {
        background-color: $bunker;
    }
    @include breakpoint (tablet) {
        margin-left: 0;
        justify-content: center;
    }
    @include breakpoint (phone) {
        margin-left: 0;
        justify-content: flex-start;
    }
}

.testimonials__row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 25px 200px;
    @include breakpoint (phone) {
        flex-direction: column;
        padding: 20px 0;
    }
}

.testimonials__col {
    flex: 1 1 35%;
    max-width: 35%;
    @include breakpoint (phone) {
        flex: 1 1 50%;
        max-width: 100%;
    }
}

.testimonials__col--wide {
    flex: 1 1 65%;
    max-width: 65%;
    @include breakpoint (phone) {
        flex: 1 1 50%;
        max-width: 100%;
    }
}

.testimonials__content {
    padding: 0 30px 0 6px;
    @include breakpoint (phone) {
        padding: 10px 0;
    }
}

.marks {
    display: inline-block;
    font-size: 45px;
    line-height: 94px;
    margin-top: -50px;
    @include breakpoint (phone) {
        font-size: 23px;
        line-height: 53px;
    }
}

.testimonials__text {
    text-align: right;
    color: $bunker-soft;
    margin-bottom: 18px;
    letter-spacing: 0.5px;
    @include breakpoint (phone) {
        text-align: center;
        margin-bottom: 10px;
    }
}

.testimonials__address {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $bunker;
    &::after {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-left: 7px;
        background-color: $bunker;
        @include breakpoint (phone) {
            margin-left: 0;
            margin-right: 10px;
        }
    }
    @include breakpoint (phone) {
        justify-content: center;
        flex-direction: row-reverse;
    }
}
.testimonials__img-wrap {
    max-width: 282px;
    position: relative;
    padding-bottom: 100%;
    @include breakpoint (phone) {
        min-width: 150px;
    }
}

.testimonials__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.testimonialsSwiper-js {
    position: relative;
}


.arrow-prev, 
.arrow-next {
    display: block;
    color: $tacao;
    line-height: 10px;
}
.arrow-prev {
    font-size: 36px;
    margin-top: -7px;
}
.arrow-next {
    font-size: 70px;
    margin-top: -23px;
    @include breakpoint (phone) {
        font-size: 36px;
        margin-top: 0px;
    }
}

