$blue: #2d0bee;
$white: #fff;
$polar: rgba($white, 0.7);
$tacao: #EFB884;
$charcoal: #000308;
$mondo: #48392d;
$bunker: #11151A;
$bunker-light: rgba($bunker,0.5);
$bunker-extra-light: rgba($bunker,0.1);
$bunker-dark: rgba($bunker,0.95);
$bunker-soft: rgba($bunker,0.7);
$mine-shaft: #333333;
$old-lace: #FEF9F1;
$silver: #c4c4c4;



$font-primary: 'Joan', serif;
$font-secondary: 'Arial';