$blue: #2d0bee;
$white: #fff;
$polar: rgba($white, 0.7);
$tacao: #EFB884;
$charcoal: #000308;
$mondo: #48392d;
$bunker: #11151A;
$bunker-light: rgba($bunker,0.5);
$bunker-extra-light: rgba($bunker,0.1);
$mine-shaft: #333333;


$font-primary: 'Joan', serif;
$font-secondary: 'Arial';